body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0f0f0f;
  color: white;
}

header {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 2px 10px rgba(255, 215, 0, 0.2);
}

.brand {
  font-size: 2rem;
  color: gold;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0.5rem;
  
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  position: sticky;
  top: 0;
  z-index: 1000;
  animation: fadeIn 1s ease-in-out;
  backface-visibility: visible;
}
 

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  font-size: 20px;
  color: #ccc;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #e2b714;
}
main {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}

.page-title {
  text-align: center;
  color: gold;
  font-size: 2rem;
  margin-bottom: 40px;
}

.items-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.item-card:hover {
  transform: perspective(1000px) rotateY(6deg) scale(1.05);
  box-shadow: 0 10px 10px rgb(219, 218, 212);
}
.item-card {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(255, 215, 0, 0.1);
  width: 200px;
  height: 300px;
  text-align: center;
  position: relative;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3);
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  animation: fadeIn 1s ease forwards;
}

.item-card img {
  width: 95%;
  height: 75%;
  border-radius: 10px;
}

.item-card h3 {
  margin-top: 1px;
  margin: 5px 0;
  color: white;
}

.item-card p {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 1px;
  color: goldenrod;
}

.item-card button {
  margin-top: 10px;
  background-color: gold;
  color: #1a1a1a;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.item-card button:hover {
  background-color: #ffe066;
}

/* Discount Panel */
.discount {
  border: 2px solid gold;
}

.discount-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: gold;
  color: #0f0f0f;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 5px;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 8px;
}

.new-price {
  color: gold;
  font-weight: bold;
}
.footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px;
      background-color: #222;
      color: #fff;
      margin-top: 1px;
    }

    .footer-column {
      flex: 1 1 45%;
      margin: 10px 0;
    }

    .footer-column img{
      margin-top: 15px;
      margin-bottom: 5px;
      margin-right: 10px;
    }

    .footer-column p {
      font-size: 19px ;
    }


    .footer-column h3 {
      margin-bottom: 10px;
      font-size: 18px;
      color: #ffcc00;
    }

    .footer-column ul {
      list-style: none;
      padding: 0;
    }

    .footer-column ul li {
      margin-bottom: 8px;
    }

    .footer-column ul li a {
      color: #ccc;
      text-decoration: none;
    }

    .footer-column ul li a:hover {
      color: #fff;
    }

    @media (max-width: 600px) {
      .footer-column {
        flex: 1 1 100%;
      }
    }